/* Image Carousel 01 - style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, san-serif;
  color: black;
  background: white;
}

:root {
  --image-width: 300px;
  --image-height: 500px;
  --button-height: 50px;
}

.carousel.slider {
  margin: 3.2em auto;
  width: var(--image-width);
  height: calc(var(--image-height) + var(--button-height));
  overflow: hidden;
}

.images {
  display: flex;
  flex-direction: row;
  transform: trasnlateX(0);
  transistion: transform 0.5s ease-in-out;
}

/* Image styling */
img {
  width: var(--image-width);
  height: var(--image-height);
  object-fit: cover;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.buttons {
  background-color: rgba(0, 232, 232, 0.3);
  color: rgb(020, 020, 020);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}

.buttons:hover {
  opacity: 0.9;
}

.buttons:focus {
  outline: none;
}
