/* Image Carousel 01 - style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, san-serif;
  color: black;
  background: white;
}

.carousel.slider.container {
  margin: 3.2em auto;
  width: 300px;
  height: 530px;
  overflow: hidden;
}

.images.container {
  display: flex;
  flex-direction: row;
}

/* Image styling */
img {
  width: 300px;
  height: 500px;
  object-fit: cover;
}
